[% WRAPPER elements/outer_wrapper.tt2 %]
    <div id="simpleLayout" class="white">
        <a href="/"><img class="logo" src="/[% version %]/images/recollect_logo.png"/></a>
        <div class="error">Oops - we had a problem!<br />Click <a href="/">here</a> to go back to the homepage.</div>
    </div>
[% END %]
