[% WRAPPER elements/static_wrapper.tt2 title="Privacy" %]
    <h1>Recollect Media Page</h1>
    <p class="inshort">
        Coming Soon.
    </p>

    <h2>Until then …</h2>

    <p><code>media at recollect . net</code></p>
[% END %]
