[% WRAPPER outer_wrapper.tt2 %]
    <div id="staticLayout">
        <div class="white"></div>
        <a href="/"><img class="logo" src="/images/recollect_logo.png"/></a>
        [% content %]
    </div>
[% END %]
