[% WRAPPER email/wrapper.html subject="Recollect Password Reset" %]
<h1>Reset your Recollect Admin Password</h1>
<p>Someone requested to reset your Recollect Admin password.</p>
<p><a href="[% base_url %]/admin/password-reset/[% hash %]">Click here to choose a new password.</a></p>
<p>You may safely ignore this email if you did not request it.</p>

<p>If you have any problems, ideas or questions, please feel free to contact us at <a href="mailto:feedback@recollect.net">feedback@recollect.net</a>.</p>
[% END %]
