<p><img src="http://recollect.net/0.0.0/images/recollect_logo_small.png" alt="Recollect Logo" /></p>
<p>Welcome to the Recollect Family!</p>

<p>You're all signed up!</p>

<p>
[% IF subscription.phone_target -%]
We'll be calling you weekly with a garbage and recycling pick up reminder for your neighborhood.
[% ELSIF subscription.sms_target -%]
Every week we will send you a garbage and recycling pick up reminder via text message for your neighborhood.
[% ELSIF subscription.email_target -%]
Every week we will send you a garbage and recycling pick up reminder via email message for your neighborhood.
[% ELSIF subscription.twitter_target -%]
Every week we will send you a garbage and recycling pick up reminder via twitter message for your neighborhood. Make sure you follow us at <a href="http://twitter.com/[% twitter %]">@[% twitter %]</a> to receive the messages.
[% ELSIF subscription.webhook_target -%]
Every week we will make a HTTP POST to your URL to let you know it's pickup time!
[% END -%]
</p>

<p>If you think this service would be useful for your friends or family, please let them know! <a href="[% base %]/tell-a-friend">Click here</a> to send them an email.</p>

<p>If you have any problems, ideas or questions, please feel free to contact us at <a href="mailto:feedback@recollect.net">feedback@recollect.net</a>.</p>

<p>
Cheers,<br />
The Recollect Team
</p>

<p>To delete this reminder <a href="[% subscription.delete_url %]">click here</a>.</p>
