[% WRAPPER email/wrapper.html subject="Welcome to Recollect!" delete_url=subscription.delete_url%]
<h1>Welcome to the Recollect Family!</h1>

<h2>You're all signed up!</h2>

<p>
[% IF subscription.phone_target -%]
We'll be calling you weekly with a garbage and recycling pick up reminder for your neighborhood.
[% ELSIF subscription.sms_target -%]
Every week we will send you a garbage and recycling pick up reminder via text message for your neighborhood.
[% ELSIF subscription.email_target -%]
Every week we will send you a garbage and recycling pick up reminder via email message for your neighborhood.
[% ELSIF subscription.twitter_target -%]
Every week we will send you a garbage and recycling pick up reminder via twitter message for your neighborhood. Make sure you follow us at <a href="http://twitter.com/[% twitter %]">@[% twitter %]</a> to receive the messages.
[% ELSIF subscription.webhook_target -%]
Every week we will make a HTTP POST to your URL to let you know it's pickup time!
[% END -%]
</p>

[% IF area.success_email_snippet %]
<p>[% area.success_email_snippet %]</p>
[% END %]

<p>If you have any problems, ideas or questions, please feel free to contact us at <a href="mailto:feedback@recollect.net">feedback@recollect.net</a>.</p>
[% END %]
