Welcome to the Recollect Family!

You're all signed up!

[% IF subscription.phone_target -%]
We'll be calling you weekly with a garbage and recycling pick up reminder for your neighborhood.
[% ELSIF subscription.sms_target -%]
Every week we will send you a garbage and recycling pick up reminder via text message for your neighborhood.
[% ELSIF subscription.email_target -%]
Every week we will send you a garbage and recycling pick up reminder via email message for your neighborhood.
[% ELSIF subscription.twitter_target -%]
Every week we will send you a garbage and recycling pick up reminder via twitter message for your neighborhood. Make sure you follow us at @[% twitter %] to receive the messages: http://twitter.com/[% twitter %]
[% ELSIF subscription.webhook_target -%]
Every week we will make a HTTP POST to your URL to let you know it's pickup time!
[% END -%]

If you think this service would be useful for your friends or family, please let them know! Click the link below to send them a note:

  [% base %]/tell-a-friend

If you have any problems, ideas or questions, please feel free to contact us at feedback@recollect.net.

Cheers,
The Recollect Team


To delete this reminder, click on the link below or copy and paste it into your browser: [% subscription.delete_url %]
[% base %]
