*.swp
*.swo
.recollect-rester.conf
root/javascript/compiled-*
root/javascript/Jemplate.js
recollect.log
etc/recollect.yaml
etc/recollect_mail.yaml
data/*.dump
!data/trash-zone-times.yaml
!data/recollect.dump
root/make-time
root/javascript/compiled
root/css/style.css
