[% WRAPPER elements/radmin_wrapper.tt2 %]
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
  [% IF message %]
    <div id="message"><strong>[% message %]</strong></div>
    <br />
  [% END %]
  <h3>Welcome to the Recollect Admin</h3>
  <h4>RADmin Sign-in with Twitter</h4>
  <a href="[% doorman.sign_in_path %]"><img alt="Sign in with twitter" src="http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" /></a>
[% END %]
