[% WRAPPER elements/static_wrapper.tt2 %]
  [% IF message %]
    <div id="message"><strong>[% message %]</strong></div>
    <br />
  [% END %]
  <a href="[% doorman.sign_in_path %]"><img src="http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" /></a>
[% END %]
