<div class="links">
    <a href="/tos.html">Terms of Service</a>
    <a href="/about.html">About Us</a>
    <a href="/faq.html">Frequently Asked Questions</a>
    <a href="/tell-a-friend.html">Tell a Friend</a>
    <a href="/api.html">API</a>
    <a class="last" href="/copyright.html">&copy;2011 Luke Closs and Kevin Jones</a>
</div>
