<div class="links">
    <a href="/terms">Terms of Service</a>&middot;
    <a href="/about">About Us</a>&middot;
    <a href="/privacy">Privacy</a>&middot;
    <a href="/faq">Frequently Asked Questions</a>&middot;
    <a href="/media">Media</a>&middot;
    <a href="/tell-a-friend">Tell a Friend</a>&middot;
    <a href="/api">API</a>&middot;
    <a href="/copyright">&copy;2011 Luke Closs, Kevin Jones and David Eaves</a>
</div>
