[% WRAPPER wrapper.tt2 %]
    <div class="container_24 vpad20">
        <div class="grid_8">
            <a href="/"><img alt="Recollect" class="logo" src="/[% version %]/images/recollect_logo_small.png"/></a>
        </div>
        <div class="grid_16">[% content %]</div>
    </div>
[% END %]
