[% WRAPPER elements/outer_wrapper.tt2 %]
    <div id="staticLayout">
        <div class="white"></div>
        <a href="/"><img class="logo" src="/images/recollect_logo.png"/></a>
        [% content %]
        <br/>
        <br/>
    </div>
    <div id="links">
        <div class="white"></div>
        [% INCLUDE elements/links.tt2 %]
    </div>
[% END %]
