/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #508527; }
a:hover { color: #86c655; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both }
.nowrap { white-space: nowrap }


 /* Primary Styles
    Author: Kevin Jones
 */

.floatleft { float: left }

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

body {
    font: 12px 'Helvetica', Arial, sans-serif;
    background: #000;
}

/* MIN WIDTH */
body, .middle, #links {
    min-width: 900px;
    width: expression(document.body.clientWidth < 900 ? "900px" : "100%");
}
#wizard .boxes {
    width: 900px;
    margin-left: -450px;
}
#links {
    min-width: 950px;
    width: expression(document.body.clientWidth < 950 ? "950px" : "100%");
}
/*****/

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

header {
}

.white {
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    opacity: .8;
    filter: alpha(opacity = 80);
}

.tiny {
    font-size: 9pt;
    vertical-align: middle;
}

.smallSocialButtons {
    position: absolute;
    left: 10px;
    top: 0;
    height: 25px;
    z-index: 101;
    width: 210px;
}
.smallSocialButtons .facebook_like {
    position: absolute;
    left: 0px;
    top: 4px;
}
.smallSocialButtons .google-buzz-button {
    position: absolute;
    left: 83px;
    top: 3px;
    line-height: 22px;
}
/*.smallSocialButtons .google-buzz-button span { : 15px }*/
.smallSocialButtons .twitter-share-button {
    position: absolute;
    left: 145px;
    top: 4px;
}

#links {
    font-size: 10pt;
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
}
#links .links {
    margin: 8px 0;
    color: #aaa;
    position: relative;
    z-index: 101;
}
#links .white {
    position: absolute;
    left: 0;
    background-color: #000;
    z-index: 100;
}

#links .links a {
    padding: 0 6px 0 2px;
}

#simpleLayout,
#smallLayout {
    position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -90px;
    width: 100%;
}

#simpleLayout .logo {
    position: absolute;
    right: 66%;
    top: 50px;
    margin-right: 25px;
}
#simpleLayout .error {
    font-size: 20pt;
    position: absolute;
    top: 75px;
    left: 33%;
    margin-left: 25px;
}

/* Static pages */
#staticLayout {
    height: 100%;
}
#staticLayout .staticContentWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 30px 0;
}
#staticLayout .main {
    position: absolute;
    top: 0;
    left: 0;
}
#staticLayout .logo {
    position: absolute;
    left: 17px;
    top: 50px;
}

#staticLayout .text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 600px;
}
#staticLayout img.screenshot {
    width: 600px;
    margin-left: -25px;
}

#staticLayout .staticContent,
#staticLayout .text {
    font-size: 115%;
    width: 550px;
    margin-left: 340px;
    padding: 0 2em 2em 2em;
}

#staticLayout .staticContent p {
    padding: 0.5em 1em;
}

#staticLayout .staticContent h1 {
    padding: 0;
    padding-top: 20px;
    margin: 0;
}

#staticLayout .staticContent h2,
#staticLayout .staticContent h3,
#staticLayout .staticContent h4,
#staticLayout .staticContent h5 {
}

/* done static pages */

input.hiddenButton {
    height: 0;
    width: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
}

/* Wizard */

.logo {
    width: 305px;
    vertical-align: middle;
}
.beta {
    height: 62px;
    width: 62px;
}

#wizard div.error {
    padding: 5px;
    background-color: #f9d7d7;
    border: 1px solid #cd0a0a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#wizard input.error {
    background-color: #f9d7d7;
    border: 1px solid #cd0a0a;
}
#wizard label.error {
    color: #cd0a0a;
}

.huge {
    border: 1px solid #666;
    font-size: 18pt;
    padding: 8px;
    width: 240px;
    margin: 3px;
}

.title {
    font-size: 18pt;
    padding: 10px 0;
}

.subtitle {
    font-size: 12pt;
    padding: 0px 0px 10px;
}

/* Layout */

.middle {
    font-size: 120%;
    position: absolute;
    left; 0;
    top: 50%;
    margin-top: -100px;
    /* margin-top must be -(height/2) */
    width: 100%;
}

.middle .row {
    position: relative;
}

/* 3 column layout */
.middle .row .left,
.middle .row .center,
.middle .row .right {
    position: absolute;
}

.middle .row .left {
    right: 60%;
    height:100px;
    margin-top: 73px;
    margin-right: 25px;
}
.middle .row .right {
    left: 40%;
    width: 55%;
}
.middle .row .center { left: 25%; width: 50% }

.middle .centered .left { right: 50%; }
.middle .centered .right { left: 50%; width: 50% }

.subscription .row .center {
    left: 50%;
    width: 450px;
    margin-left: -225px;
}

/* Top row layout */
.middle .top .left { margin-right: 140px }
.middle .top .right { right: 50%; margin-left: -115px; width: 100% }

/* Zone page */
.zonePage {
    /* Put it in the center */
    width: 880px;
    left: 50%;
    margin-left: -440px;
}
.middle .zonePage .left { left: 0; margin: 0; width: 300px }
.middle .zonePage .right { left: 330px; width: 550px } /* end: 880px */

noscript.middle .row .left { top: 45px; left: 30px }
noscript.middle .row .right { top: 85px; left: 380px }

/* done Layout */

/* Two panel steps */

/**
 * Wizard Step: Address search
 */

#wizard .addressForm {
    height: 60px;
}

#wizard .message {
    font-size: 12pt;
    padding: 3px 3px 3px 3px;
}

#wizard .message p {
    margin: 5px 0;
}

#wizard .message p.big {
    font-size: 18pt;
}

input.initial {
    font-style: italic;
    color: #555;
}

#wizard .addresses {
    padding: 5px;
    background-color: #e8fbda;
    border: 1px solid #486d2c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**
 * Wizard Step: Zone information
 */

.middle .zoneName {
    font-size: 27pt;
    white-space: nowrap;
}
.middle .smallZoneName {
    font-size: 20pt;
    padding: 10px 0;
}
.middle .nextPickup {
    font-size: 15pt;
}
.middle .yardMsg {
    font-size: 15pt;
    font-style: italic;
}

.interest .map {
    width: 300px;
    height: 227px;
    margin: 0;
}

.interest p {
    padding: 5px 0;
}

.interest .huge { /* .email */
    width: 200px;
}

.zonePage .zoneName,
.zonePage .nextPickup {
}
.zonePage .cityPromo {
    margin-top: 15px;
    border: 1px solid #D3D3D3;
    background: #fff;
    width: 300px;
    height: 355px;
    opacity: .8;
    filter: alpha(opacity = 80);
}
.zonePage .cityPromo .cityImageTitle {
    font-size: 8pt;
    font-weight: bold;
    padding: 3px 0 0 3px;
}
.zonePage .cityPromo .cityImage {
    padding: 3px;
} 
.zonePage .cityPromo img {
    border: 1px solid #D3D3D3;
    width: 290px;
    height: 330px;
}
.zonePage .cityPromo .yourAd {
    display: block;
    padding: 50px 0;
    text-align: center;
}
.zonePage .calendarSection {
    width: 300px;
}
.zonePage .calendarSection .calendar {
    margin: 34px 15px;
}
.zonePage .signup {
    position: absolute;
    top: 80px;
    left: 260px;
}
.zonePage .map {
    margin-top: 20px;
    height: 220px;
    width: 275px;
}
.zonePage .signup p {
    margin: 10px 0;
    text-align: center;
}
.zonePage .signup .confirm {
    text-align: center;
    margin: 0px 0 0 40px;
}

/*
 * Wizard Step: Subscribe
 */

.middle .boxes {
    left: 50%;
    margin-top: 10px;
}
.middle .twoBoxes { margin-left: -300px; }

.boxes .boxOption {
    float: left;
    width: 270px;
    height: 250px;
    margin: 10px;
    background-color: #fff;

    /* Rounded border */
    border: 1px solid #D3D3D3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /* gradient */
    background-color: #fefeef;  /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fefeef), to(#adcaad)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fefeef,  #adcaad); /* for firefox 3.6+ */

    /* Drop shadow */
    -moz-box-shadow: 3px 3px 4px #8e9884;
    -webkit-box-shadow: 3px 3px 4px #8e9884;
    box-shadow: 3px 3px 4px #8e9884;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e9884')";

    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e9884') /* drop shadow */
        progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefeef', endColorstr='#adcaad'); /* gradient */
}

#wizard .back {
    font-size: 13pt;
    display: block;
    float: left;
    padding: 10px;
}

.boxes .whiteBox {
    /* gradient */
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e9884'); /* drop shadow only */
}

.boxes .halfBox {
    height: 175px;
    margin-top: 85px;
}

.boxes .boxOption .inside {
    padding: 10px;
    height: 230px;
    position: relative;
}

.boxes .halfBox .inside {
    height: 155px;
}

.boxes .boxOption .boxTitle {
    font-size: 18pt;
    padding-left: 10px;
}
.boxes .boxOption .discount {
    color: #666;
    position: absolute;
    top: 18px;
    right: 30px;
}

.boxes .boxOption .price {
    position: relative;
    top: 25px;
    left: 50px;
}
.boxes .boxOption .price .dollarsign {
    font-size: 30pt;
    position: absolute;
    left: 0;
    top: 5px;
}
.boxes .boxOption .price .dollars {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 60pt;
}
.boxes .boxOption .price .cents {
    font-size: 15pt;
    position: absolute;
    top: 5px;
    left: 55px;
}
.boxes .price .cycle {
    font-size: 12pt;
    position: absolute;
    top: 48px;
    left: 60px;
}
.boxes .price .billingCycle {
    font-size: 8pt;
    position: absolute;
    top: 90px;
    width: 155px;
    text-align: center;
}

/* 1 is skinnier than 2 */
.boxes .quarterly .price .cents,
.boxes .quarterly .price .cycle {
    margin-left: 10px;
}

.boxes .boxOption .service {
    text-align: center;
}
.boxes .quarterly .service,
.boxes .annually .service {
    margin-top: 20px;
}
.boxes .free .service {
    margin-top: 10px;
}

.boxes .boxOption .choose {
    margin-left: 70px;
    position: absolute;
    bottom: 20px;
}

.boxes .boxOption .description {
    position: absolute;
    top: 50px;
    padding: 10px;
}


.boxes .halfBox .description {
    padding-top: 0;
}

.boxes .boxOption .description .feeds {
    padding-top: 10px;
}

.boxes .boxOption .description .feeds .feed {
    padding: 5px;
}

.boxes .boxOption .description .feeds .feed img {
    vertical-align: middle;
}

.middle select {
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}

.middle .nextMessage {
    float: left;
    position: absolute;
    right: 100px;
    width: 300px;
    margin: 10px 0;
}

.middle .next {
    float: right;
}

.privacyPolicy {
    font-size: 9pt;
}

/**
 * Buttons
 */

.buttons .bigButtonGreen,
.buttons .bigButtonBlack,
.buttons .bigButtonGrey,
.buttons .bigButtonOrange {
    margin-left: 10px;
}

.bigButtonGreen,
.bigButtonBlack,
.bigButtonGrey,
.bigButtonOrange {
    white-space: nowrap;
    float: left;
    display: block;
    text-decoration: none;
    position: relative;
    color: #fff !important;
    margin: 3px 0;
    padding: 10px 30px;
    font-size: 120%;

    /* rounded corners */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.bigButtonGreen {
    border: 1px solid #70a547;
    /* Gradient */
    background-color: #86c655;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86c655', endColorstr='#70a547'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#86c655), to(#70a547)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #86c655,  #70a547); /* for firefox 3.6+ */
}
.bigButtonGreen:hover {
    background-color: #7cb74e;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb74e', endColorstr='#70a547'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#7cb74e), to(#70a547)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #7cb74e,  #70a547); /* for firefox 3.6+ */
}
.bigButtonGreen:active {
    background: #70a547;
}

.bigButtonOrange {
    border: 1px solid #f65735;
    /* Gradient */
    background-color: #f78964;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78964', endColorstr='#f65735'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f78964), to(#f65735)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f78964,  #f65735); /* for firefox 3.6+ */
}
.bigButtonOrange:hover {
    background-color: #f66f4c;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f66f4c', endColorstr='#f65735'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f66f4c), to(#f65735)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f66f4c,  #f65735); /* for firefox 3.6+ */
}
.bigButtonOrange:active {
    background: #f65735;
}

.bigButtonBlack {
    border: 1px solid #000;
    /* Gradient */
    background-color: #000;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b5b5b', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #5b5b5b,  #000); /* for firefox 3.6+ */
}
.bigButtonBlack:hover {
    background-color: #5b5b5b;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #2b2b2b,  #000); /* for firefox 3.6+ */
}
.bigButtonBlack:active {
    background: #000;
}

.bigButtonGrey {
    border: 1px solid #aaa;
    /* Gradient */
    background-color: #eee;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eee,  #aaa); /* for firefox 3.6+ */
}
.bigButtonGrey:hover {
    background-color: #ccc;  /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #cccccc,  #aaaaaa); /* for firefox 3.6+ */
}
.bigButtonGrey:active {
    background: #aaaaaa;
}
/* get satisfaction tab */
a#fdbk_tab {
    top: 200px !important;
}

#wizard .customOffset {
    display: none;
}

#wizard label.error {
    font-size: 90%;
    margin-left: 130px;
    white-space: nowrap;
}

#wizard .help {
    color: #333;
    font-style: italic;
    margin: 10px 0;
}

#wizard .field {
    clear: both;
    padding: 10px 5px;
}
#wizard .field .name {
    float: left;
    width: 130px;
    text-align: right;
    margin-right: 10px;
}

#wizard .loading {
    display: none;
}
#wizard .loading img {
    position: absolute;
    left: 200px;
    top: 100px;
}

/* Calendar Styles */
.calendar {
    background: #fff;
    width: 180px;
    padding: 10px;

    /* gradient */
    background-color: #fefeef;  /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fefeef), to(#adcaad)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fefeef,  #adcaad); /* for firefox 3.6+ */

    /* Rounded borders */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /* Drop shadow */
    -moz-box-shadow: 3px 3px 4px #8e9884;
    -webkit-box-shadow: 3px 3px 4px #8e9884;
    box-shadow: 3px 3px 4px #8e9884;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e9884')";

    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e9884') /* drop shadow */
        progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefeef', endColorstr='#adcaad'); /* gradient */
}

.calendar .ui-datepicker-title {
    display: block;
    width: 100%;
    text-align: center;
}

.calendar .ui-datepicker-month {
    display: block;
}

.calendar .ui-datepicker-year {
    font-size: 80%;
}

.calendar table {
    width: 100%
}

.calendar .day {
    text-align: center;
}

.calendar .day span {
    padding: 1px;
    color: #495942;
    display: block;
}

.calendar .legend1 {
    background-color: #f6f9e8;
    color: #5e9f42;
}
.calendar .legend2 {
    background: #f6f9e8 url(../images/legend2.png) repeat;
    color: #5e9f42;
}
.calendar .legend3 {
    background: #f6f9e8 url(../images/legend3.png) repeat;
    color: #5e9f42;
}
.calendar .legend4 {
    background: #f6f9e8 url(../images/legend4.png) repeat;
    color: #5e9f42;
}

.calendar .ui-datepicker-today {
    border: 1px solid #d22;
}

.calendar .ui-datepicker-prev {
    float: left;
}

.calendar .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.calendar .ui-datepicker-prev,
.calendar .ui-datepicker-next {
    position:absolute;
    width: 1.8em;
    height: 1.8em;
}
.calendar .ui-datepicker-prev span,
.calendar .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }

/* legend */
.legend {
    padding-top: 10px;
}
.legend .example {
    width: 26px;
    height: 18px;
    margin: 4px;
}

.legend .definition {
    font-size: 8pt;
    padding-left: 5px;
    padding-top: 3px;
}
/* end legend */

/* done Calendar Styles */

/* Icons */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat:
    no-repeat;
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(images/ui-icons_222222_256x240.png);
}
.calendar .ui-datepicker-next {
    right: 2px;
}
.calendar .ui-datepicker-prev-hover,
.calendar .ui-datepicker-next-hover {
    top: 1px;
}

.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-alert { background-position: 0 -144px; }
/* done icons */

/* Other page styles */
#staticLayout h1 {
    font-size: 18pt;
    margin: 15px 0 5px 0;
}
#staticLayout h2 {
    font-size: 15pt;
    margin: 15px 0 5px 0;
}
#staticLayout h3 {
    font-size: 13pt;
    margin: 15px 0 5px 0;
}
#staticLayout h4 {
    font-size: 10pt;
    margin: 15px 0 5px 0;
}

#staticLayout ul.toc {
    padding: 0.5em 1em;
    margin: 0;
}

#staticLayout ul.toc li {
    list-style: none;
    margin: 5px 0;
}

#staticLayout ol, #staticLayout ul {
    margin: 5px 0 5px 40px;
}

.tellafriend {
    font-size: 120%;
}

.tellafriend .huge {
    width: 500px;
}
.tellafriend .province {
    width: 25px;
}

.tellafriend label {
    display: block;
}

.section {
    padding: 0;
    margin: 10px 0;
}

.section input,
.section textarea {
    margin: 3px 0 0 0;
}

/*
 * jQuery UI Autocomplete 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

.ui-autocomplete .ui-state-hover {
    background-color: #eee;
}	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-autocomplete {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}
.ui-autocomplete a { color: #222222; }


/*
 * jQuery UI Menu 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/* Recollect stuff added by luke */
div.founder {
    padding:1.5em 0em 0.5em 0em;
    font-size: 110%;
    font-weight: bold;
}

p.inshort {
    padding:3em 3em; 
    line-height: 1.5;
    font-size: 150%;
}

p.rhetorical {
    padding: 1em;
    font-size: 150%;
}


.time {
    width: 71px;
}

/* timePicker */
div.time-picker {
  position: absolute;
  height: 191px;
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  width: 6em; /* needed for IE */
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width: 75px; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}
/* end timePicker */
